.cargoInfo {
    border: 1px dotted black;
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.mainContent-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}

