.contactInfo {
  border: 1px dotted black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; }

.addInfo {
  border: 1px dotted red; }

.sender, .receiver {
  width: 600px; }

.formControl {
  width: 90%; }
