.main {
  display: flex; }

.main-completed {
  margin: 0 auto;
  width: 300px;
  text-align: center; }

.makeStyles-root-4 {
  width: 100% !important; }

.list {
  list-style-type: none;
  padding: 0; }
  .list li {
    padding: 3px; }

.title, .header {
  text-align: center;
  color: #4d4d4d; }

.stepperButtons {
  margin: 50px auto;
  display: flex;
  justify-content: center; }

.MuiStepIcon-active, .MuiStepIcon-completed {
  color: #4f0103 !important; }
