.main {
    display: flex;
}

.list {
    list-style-type: none;
}

.title, .header {
    text-align: center;
}

.stepperButtons {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}